<% if @current_user %>
  <h1>Places</h1>

  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>">
      <button type="button" class="btn btn-secondary btn-success mb-3">
        <%= place["name"] %>
      </button>
      </a></li>
    <% end %>
  </ul>

  <p>
    <a href="/places/new">
      <button type="button" class="btn btn-primary btn-lg">
        Add New Place
      </button>
    </a>
  </p>
<% else %>
  <% controller.redirect_to "/sessions/new"%>
<% end %>
